<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>Yelp Recommendation</title>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/static/packaged/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/packaged/css/card.min.css">
	<link rel="stylesheet" type="text/css" href="/static/packaged/css/site.css">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="/static/packaged/javascript/semantic.js"></script>
	

</head>
<body>
<script type="text/javascript">
	function send_req() {
		user_id = document.getElementById('search').value;
    	window.location.replace("http://127.0.0.1:5000/recommendations?user="+user_id);
	}
</script>
	<div class="container">
		<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Yelp Recommendations
</h2>
<div class="ui one column stackable center aligned page grid">
   <div class="column eight wide">
       <div class="ui fluid action input">
  			<input type="text" placeholder="Search..." id="search" value="{{user_id}}">
  			<div class="ui button teal" onclick="send_req();">Recommend</div>
		</div>
   </div>
</div>
		
	<h3 class="ui header"><a name="hacks">Recommendations based on Similar Users</a></h2>
	<div class="ui fluid cards">

	{% for r in recommendations %}
	<div class="card">
	    <a class="image" target="_blank">
	      <img src="/static/hotel.png">
	    </a>
	    <div class="content">
	      <div class="header">{{ r }}</div>
	      <!-- <div class="meta">
	        <a>Open Source Contribution</a>
	      </div>
	      <div class="description">
	        A living archive of arcticles and images about rural India
	      </div> -->
	    </div>
  </div>
  {% endfor %}

</div>
<h3 class="ui header"><a name="hacks">Recommendations based on Popular Places</a></h2>
	<div class="ui fluid cards">

	{% for s in suggestions %}
	<div class="card">
	    <a class="image" target="_blank">
	      <img src="/static/hotel.png">
	    </a>
	    <div class="content">
	      <div class="header">{{ s }}</div>
	      <!-- <div class="meta">
	        <a>Open Source Contribution</a>
	      </div>
	      <div class="description">
	        A living archive of arcticles and images about rural India
	      </div> -->
	    </div>
  </div>
  {% endfor %}

</div>
</div>	
<script src="/static/packaged/javascript/site.js"></script>
</body>
</html>  

